.debug{
    border-style: solid;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.flexParent{
    display: flex;
    flex-direction: row;
}
@media(min-width:300px){
.flexParent{
    display: flex; 
    flex-direction: row;
    
}

}
@media(max-width:299px){
.flexParent{
    display:flex;
    flex-direction:column;
    
}
}
.sidebar{
    padding:2px;
    width: 350px;
    
}

.mainContent{
    flex:1;
    padding:2px;
}
#imgAndPrice{
    display:flex;
    flex-direction: row;
    
}
.detailsView{
    word-break:break-all;
}

#priceAndGuests{
    vertical-align: top;
    padding-left:20px;
}

#searchView{
    overflow-y: auto;
}
#SearchfieldInSearchView{
    padding:10px 10px 10px 10px;
}

.searchResult{
    display: inline-block;
    text-align: center;
    width: 200px;
    vertical-align: top;
    padding-bottom: 15px;
    padding-right: 4px;
    padding-left: 4px;
    
}


img{
    height: 100px;
   
}
.picsInSearchResult{
    cursor: pointer;
}
#addButton{
    cursor: pointer;
}

/* Scrollbar */
/* width */
#searchView::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
#searchView::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
/* Handle */
#searchView::-webkit-scrollbar-thumb {
    background: rgb(207, 19, 19);
}
  
/* Handle on hover */
#searchView::-webkit-scrollbar-thumb:hover {
    background: #555;
}