.debug{
    border-style: solid;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
@media(min-width:300px){
.flexParent{
    display: flex; 
    flex-direction: row;
    height:100%; 
}

}
@media(max-width:299px){
.flexParent{
    display:flex;
    flex-direction:column;
    height:100%;
}
}
.sidebar{
    padding:2px;
}

.mainContent{
    flex:1;
    padding:2px;
}