
/*
* in app.js
*/
.flexParent{
    display: flex;
    flex-direction: row;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-style: double;
    border-width: 5px;

}

@media(min-width:400px){
.flexParent{
    display: flex; 
    margin: 10px 10px 10pc 10px;
}
}
@media(max-width:399px){
.flexParent{
    display:flex;
    flex-direction:column;      
}
}

.mainContent{
    flex:1;
    padding:5px;
    background-color: hsl(87, 48%, 68%);
    border-style: solid;
    border-color: hsl(87, 48%, 68%);
}
.SidebarAndSummary{
    background-color: hsl(87, 48%, 72%);
    flex-direction: column;
    padding:2px;
    border-color: hsl(87, 48%, 68%);
    border-style: solid;
    border-width: 10px;
    width: 350px;
}
.Search{
    border-color: hsl(87, 48%, 70%);
    border-style: groove;
    border-width: 10px;
    background-color: hsl(87, 48%, 72%);
}
.Details{
    border-color: hsl(87, 48%, 70%);
    border-style: groove;
    border-width: 10px;
    background-color: hsl(87, 48%, 72%);
}
/*
*DetailsView.js
*/

.detailsView{
    word-break:break-all;
    padding-left:10px;
    text-align: left;
}
#imgAndPrice{
    display:flex;
    flex-direction: row;
    padding-left: 23px;
}


#priceAndGuests{
    vertical-align: top;
    padding-left:20px;
}
#addButton{
    cursor: pointer;
    font-size: 15px;
    padding:10px 10px 10px 10px;
    float:right;
    margin-right: 50px;
    background-color: #D3212D;
    color: white;
}
#addButton:disabled{
    
    font-size: 15px;
    padding:10px 10px 10px 10px;
    float:right;
    margin-right: 50px;
    background-color: gray;
    color: white;
}
#recipeInstruction{
    padding:5px 30px 5px 23px;
}
/*
*SearchView.js
*/
.searchView{
    overflow-y: auto;
    
}
#SearchfieldInSearchView{
    padding:20px 20px 20px 20px;
    
}

.searchResult{
    display: inline-block;
    text-align: center;
    width: 200px;
    vertical-align: top;
    padding-bottom: 15px;
    padding-right: 4px;
    padding-left: 4px; 
    margin-left:10px;
    margin-right: 10px;
    justify-content: space-between;
}
.picsInSearchResult{
    cursor: pointer;
}

img{
    height: 150px;
    background-color: black;
    border-radius: 4px;
    border: 1px solid black;
    padding: 2px;
    
}

/* Scrollbar */
/* width */
.searchView::-webkit-scrollbar {
    width: 10px;
}

/*
* in SidebarView.js
*/
.table{
    width:300px;
    text-align: left;
  
    padding:10px 10px 10px 0px;
}
.headerGuests{
    font-size: 25px;
}
.headerDishes{
    font-size: 25px;
}
.buttonsAndGuests{
    margin-left: 10px;
}
.buttonSidebar:disabled{
    background-color: gray;
    color: white;
}

.buttonSidebar{
    cursor: pointer;
    background-color: #D3212D;
    color: white;
}
/*
*SummaryView
*/
.menuInSummary{
    padding-left: 10px;
    word-wrap: break-word;
    width: 250px;
}
.shoppingListHeader{
    font-size: 20px;
}
#ingredientAisleQuantity{
    font-weight: bold;
}